# Ignore node_modules (โดยปกติ node_modules จะไม่ต้องการใน Docker image)
node_modules

# Ignore temporary files หรือ cache ที่ไม่จำเป็น
*.log
*.tmp
*.bak

# Ignore build files หรือ files ที่ใช้แค่ในตอนพัฒนา
/dist
/build
/.next

# Ignore IDE/Editor settings
.vscode
.idea
*.sublime-workspace
*.sublime-project

# Ignore OS-specific files
.DS_Store  # macOS
Thumbs.db  # Windows

